<section class="title"><a href="#">verdi ergün</a>
</section>
<aside class="content"><%= link_to 'Li', 'http://www.linkedin.com/in/verdiergun' %><br />
<%= link_to 'Fb', 'http://www.facebook.com/vergun' %><br />
<%= mail_to 'M', 'vergun@gmail.com' %></aside>