<section class="title"><a href="#">this site is live</a>
</section>
<aside class="content">The old site is gone. Burn the bridges as they say. What prompted the new site? A cheetah is the world's fastest land animal. Non sequitor. That's how the new site came about: out of the blue. 
<p>I don't know why. I don't know why titles and content highlight yellow when you hover over them, either. Life's mysteries. This may be the first [and last] post.</p>
</aside>