<section class="title"><a href="#">instore</a>
</section>
<aside class="content"><%= link_to 'next generation tools for your business', 'https://instoredoes.com' %></aside>

<section class="title"><a href="#">sword</a>
</section>
<aside class="content"><%= link_to 'dungeon adventure game in ruby', 'http://www.sword.io' %></aside>

<section class="title"><a href="#">ruby console</a>
</section>
<aside class="content"><%= link_to 'A bash emulator built in ruby', 'http://www.github.com/vergun/bash' %></aside>