<div class="wrapper">
  
  <div class="top-banner"></div>
  <div class="center-image"><%= image_tag 'me.jpg' %><br />
    <ul>
      <li><%= link_to "Github", "http://github.com/vergun", target: "blank" %></li>
      <li><%= link_to "Twitter", "http://twitter.com/vergun", target: "blank" %></li>
    </ul>
  </div>
  <div class="push"></div>
  
</div>
