
<section class="posts-list">

    <% if !@posts.empty? %>
      <% @posts.each do |post| %>
      <table>
        <tr>
          <td class="post-title"><%= link_to "#{raw truncate(post.title, :length => 30)}", post %></td>
        </tr>
      </table>
    <% end %>
    <% else %>
    <% end %>

  <div class="new-post">
  <%= link_to 'New Post', new_post_path %>
  </div>

</section>


<% if !@posts.empty? %>
<section class="main-post">

      <div class="main-post-title"><%= @posts.last.title %></div>
      <div class="main-post-content"><%= raw @posts.last.content %></div>
</section>

<% else %>
<% end %>






