/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
@font-face {
    font-family: 'StMarieThin';
    src: url('StMarie-Thin-webfont.eot');
    src: url('StMarie-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('StMarie-Thin-webfont.woff') format('woff'),
         url('StMarie-Thin-webfont.ttf') format('truetype'),
         url('StMarie-Thin-webfont.svg#StMarieThin') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DejaVuSansBook';
    src: url('DejaVuSans-webfont.eot');
    src: url('DejaVuSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('DejaVuSans-webfont.woff') format('woff'),
         url('DejaVuSans-webfont.ttf') format('truetype'),
         url('DejaVuSans-webfont.svg#DejaVuSansBook') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'DejaVuSansBold';
    src: url('DejaVuSans-Bold-webfont.eot');
    src: url('DejaVuSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('DejaVuSans-Bold-webfont.woff') format('woff'),
         url('DejaVuSans-Bold-webfont.ttf') format('truetype'),
         url('DejaVuSans-Bold-webfont.svg#DejaVuSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'CaviarDreamsItalic';
    src: url('CaviarDreamsItalic-webfont.eot');
    src: url('CaviarDreamsItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('CaviarDreamsItalic-webfont.woff') format('woff'),
         url('CaviarDreamsItalic-webfont.ttf') format('truetype'),
         url('CaviarDreamsItalic-webfont.svg#CaviarDreamsItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'CaviarDreamsBoldItalic';
    src: url('CaviarDreams_BoldItalic-webfont.eot');
    src: url('CaviarDreams_BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('CaviarDreams_BoldItalic-webfont.woff') format('woff'),
         url('CaviarDreams_BoldItalic-webfont.ttf') format('truetype'),
         url('CaviarDreams_BoldItalic-webfont.svg#CaviarDreamsBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'CaviarDreamsRegular';
    src: url('CaviarDreams-webfont.eot');
    src: url('CaviarDreams-webfont.eot?#iefix') format('embedded-opentype'),
         url('CaviarDreams-webfont.woff') format('woff'),
         url('CaviarDreams-webfont.ttf') format('truetype'),
         url('CaviarDreams-webfont.svg#CaviarDreamsRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'CaviarDreamsBold';
    src: url('CaviarDreams_Bold-webfont.eot');
    src: url('CaviarDreams_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('CaviarDreams_Bold-webfont.woff') format('woff'),
         url('CaviarDreams_Bold-webfont.ttf') format('truetype'),
         url('CaviarDreams_Bold-webfont.svg#CaviarDreamsBold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ModernPictogramsNormal';
    src: url('modernpics-webfont.eot');
    src: url('modernpics-webfont.eot?#iefix') format('embedded-opentype'),
         url('modernpics-webfont.woff') format('woff'),
         url('modernpics-webfont.ttf') format('truetype'),
         url('modernpics-webfont.svg#ModernPictogramsNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	text-align: center;
	line-height: 1;
}
.container {
	text-align: left;
	margin: auto auto;
	width: 800px;
	padding: 35px 0 10px 0;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
    color: #69a6da;
}
a:hover {
    text-decoration: none;
    border-bottom: 1px solid #69a6da;
}
a:active {
    text-decoration: none;
    border-bottom: 1px solid #69a6da;
}
a:visited {
    text-decoration: none;
}
p {
	padding: 10px 0px 10px 0px;
}
em {
	text-decoration: italic;
}
strong {
	text-decoration: bold;
}
/*<ul class="pagination">
  <li class="previous_page"><a href="/users?page=1"> ← Previous</a></li>
  <li><a href="/users?page=1">1</a></li>
  <li class="current">2</li>
  <li><a href="/users?page=3">3</a></li>
  <li class="next_page"><a href="/users?page=3">Next →</a></li>
</ul>*/



/* not in use
.code {
	border: 1px solid grey;
	color: yellow;
	-webkit-box-shadow: 2px 2px 3px #afafaf;
	-moz-box-shadow: 2px 2px 3px #afafaf;
	box-shadow: 2px 2px 1px #afafaf;
	-webkit-text-shadow: -3px -3px 5px rgba(100, 100, 100, .75);
	-moz-text-shadow: -3px -3px 5px rgba(100, 100, 100, .75);
	text-shadow: -3px -3px 5px rgba(100, 100, 100, .75);
}
.update {
}
.update .time {
}
*/


