// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.posts-list {
    float: left;
    padding-left: 1%;
    width: 10%;
    min-width: 125px;
    border-right: 1px solid rgba(65, 65, 65, .5);
}
.posts-list table tr td {
    padding: 15px;
}
.posts-list table tr td a {
    font: normal 18px 'StMarieThin', Georgia, serif;
}
.posts-list .selected {
    color: rgba(65, 65, 65, 1);
    border-bottom: none;
}
.posts-list-justified {
    display: none;
}
.main-post {
    float: left;
    padding-left: 3%;
    padding-right: 3%;
    width: 70%;
}
.main-post .main-post-title {
    font: normal 50px 'StMarieThin', Georgia, serif;
    letter-spacing: 130%;
    line-height: 130%;
    padding: 0 0 20px 0;
}
.main-post .main-post-content {
    color: rgba(0,0,0,.45);
    text-align: left;
}
.main-post .main-post-date-time {
    font: normal 15px'StMarieThin', Georgia, serif;
    text-align: right;
    color: rgba(65, 65, 65, .85);
    padding: 15px 15px 20px 0;
}
.main-post .main-post-content, .main-post .main-post-navigation .main-post-navigation-next {
    font: normal 30px 'CaviarDreamsRegular', Helvetica, sans-serif;
    letter-spacing: 150%;
    line-height: 200%;
}
.main-post .main-post-navigation .main-post-navigation-next #arrow {
font: normal 20px 'ModernPictogramsNormal', Helvetica, sans-serif;
}
.main-post .main-post-navigation-previous {
float: left;
padding: 30px 0 30px 0;
}
.main-post .main-post-navigation-next {
float: left;
padding: 30px 0 30px 0;
width: 90%;
text-align: right;
}
.profile .greeting-extended {
    font: normal 300% 'ModernPictogramsNormal';
    color: rgba(200, 200, 200, .5);
    display: inline-block;
}
.profile img:hover {
    display:none;
    -moz-transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
}
.tooltip {
    width: auto;
    position: absolute;
    top: 10px;
    right: 110px;
    border-radius: 3px;
    padding: 10px;
    background: rgba(0,0,0,.85);
    display: none;
}
.tooltip:after{
    content:".";
    text-indent:-9999em;
    display:block;
    position:absolute;
    right:-10px;
    bottom:120px;
    width:0;
    height:0;
    border-left: 10px solid rgba(0,0,0,.85);
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
}
.tooltip img{
    width:125px;
    border-radius:3px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}
@media screen and (max-width: 800px) {
    .main-post {
        float: none;
        width: 100%;
    }
    .posts-list {
        display: none;
    }
    .posts-list-justified {
        display: inline;
        width: 100%;
    }
    .posts-list-justified ul li {
        padding: 15px;
        margin: auto auto;
    }
    .posts-list-justified ul li a {
        font: normal 18px 'StMarieThin', Georgia, serif;
    }
    .posts-list-justified .selected {
        color: rgba(65, 65, 65, .85);
        border-bottom: none;
    }
    .profile .greeting {
        display: none;
    }
    .profile .greeting-extended {
        font: normal 100% 'CaviarDreamsRegular', Helvetica, sans-serif;
    }
    .profile img {
        display: none;
    }
}

    @media screen and (max-width: 480px) {
    .main-post {
        float: none;
        width: 100%;
    }
    .posts-list {
        display: none;
    }
    .posts-list-justified {
        display: inline;
        width: 100%;
    }
    .posts-list-justified ul li {
        padding: 15px;
        margin: auto auto;
    }
    .posts-list-justified ul li a {
        font: normal 30px 'StMarieThin', Georgia, serif;
    }
    .posts-list-justified .selected {
        color: rgba(65, 65, 65, 1);
        border-bottom: none;
    }
    .profile .greeting {
        display: none;
    }
    .profile .greeting-extended {
        font: normal 100% 'CaviarDreamsRegular', Helvetica, sans-serif;
    }
    .profile img {
        display: none;
    }
}

/*
.introduction {
    padding-top: 10px;
    padding-bottom: 10px;
    font: normal 30px 'MarketingScriptRegular', Georgia, serif;
    color: white;
    background: black;
    letter-spacing: 2px;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.introduction a {
    color: rgba(208, 208, 198, 1);
}
.introduction a:hover {
    color: yellow;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
#section-two {
    text-decoration: none;
    text-align:center;
    font: normal 24px 'MarketingScriptRegular', Georgia, serif;
    width:100%;
    color:yellow;
    background:rgba(249, 249, 249, .5);
}
#section-two a {
    color:white;
}
#section-two:hover {
    background: yellow;
     -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
#section-three {
    background: rgba(108, 208, 198, .5);
    height: 65px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
   
}
#section-three a {
    color: grey;
}
#section-three:hover {
     -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
#section-three footer {
    padding-top: 30px;
    font: normal 10px 'LeagueGothicRegular', Tahoma, Arial, sans-serif;
    color: grey;
}
*/