body {
  background-color: #ffffff;
  font-family: 'Helvetica';
}
.nav ul {
width: 100%;
padding: 0px;
}
.nav ul li {
    list-style-type:none;
}
.nav ul li a {
  float:left;
  font-size: 24px;
  margin-left: 100px;
  padding: 20px;
  margin-bottom: 20px;
  color:#4c4f49;
}
.nav ul li a:hover {
  background:#fff069;
  cursor:pointer;
  text-decoration:underline;
}
.nav ul li a, .nav ul li a:visited {
  text-decoration:none;
  color:#4c4f49;
}
.nav ul li a.selected {
   background: purple;
   color: white;
   padding:20px;
}
.title{
  clear:left;
  margin-left: 100px;
  width: 200px;
  float:left;
  font-size:36px;
  padding: 20px;
}
.title a, a:visited{
  color:#4c4f49;
  text-decoration:none;
}
.title:hover{
  background:#fff069;
  cursor:pointer;
  text-decoration:underline;
}
.content {
  color:#4c4f49;
  margin-left: 100px;
  width: 500px;
  float:left;
  font-size: 36px;
  padding: 20px;
}
.content img {
  width: 100%;
  height: 100%;
}
.content:first {
  border-radius-top-left: 5px;
}
.content:hover{
  background:#fff069;
  cursor:pointer;
  text-decoration:underline;
}